.home {
padding: 10px 50px;
}

.input {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 100px 0 50px;
}

input {
    height: 50px;
    width: 100%;
    padding: 10px 80px;
    background-color: #fff;
    color: #D1D5DB;
    border: 2px solid #D1D5DB;
    border-radius: 5px;
}