#footer {
    background-color: #263238;
    padding: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 50px 100px;
}

.logo {
    width: 300px;
    background-color: #fff;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 50%;
    height: 100%;
}

#content {
    display: flex;
    align-items: center;
    gap: 100px;
}
#company, #sobre, #support {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    flex-wrap: wrap;
}
#sobre, #support {
    text-align: center;
}
#icones {
    display: flex;
    justify-content: center;
    gap: 20px;
}